<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="ko"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>
	<div th:fragment="trendInfoAllSize" id="trend-info-table">
		<script th:inline="javascript">
			var chartDate = new Array();
			var chartMaxPrice = new Array(); 
			var chartMinPrice = new Array();
			var chartAvgPrice =  new Array();
			/*<![CDATA[*/
				/*[# th:each="data : ${chartData}"]*/
					chartDate.push(/*[[${data.MARKET_DATE}]]*/);
					chartMaxPrice.push(/*[[${data.MAX_PRICE}]]*/);
					chartMinPrice.push(/*[[${data.MIN_PRICE}]]*/);
					chartAvgPrice.push(/*[[${data.AVG_PRICE}]]*/);
				/*[/]*/
			/*]]>*/
		</script>
		<script src="/js/trend.chart.js"></script>
		<div class="bx bx-summary">
			<table class="tb">
				<colgroup>
					<col span="1" style="width: 25%">
				</colgroup>
				<thead>
					<tr>
						<th scope="col">Summary</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td class="summary-title" th:inline="text">등록 매물</td>
					</tr>
					<tr>
						<td class="summary-val total-count" th:inline="text">[[${product.askStockCount}]]</td>
					</tr>
					<tr>
						<td class="summary-title" th:inline="text">평균 가격</td>
					</tr>
					<tr>
						<td class="summary-val" th:inline="text">[[${#numbers.formatInteger(product.avgPrice,3,'COMMA')}]]원</td>
					</tr>
					<tr>
						<td class="summary-title up" th:inline="text">최고 가격</td>
					</tr>
					<tr>
						<td class="summary-val" th:inline="text"><span class="price-up">[[${#numbers.formatInteger(product.maxPrice,3,'COMMA')}]]원</span></td>
					</tr>
					<tr>
						<td class="summary-title" th:inline="text">최저 가격</td>
					</tr>
					<tr>
						<td class="summary-val bottom" th:inline="text"><span class="price-down">[[${#numbers.formatInteger(product.minPrice,3,'COMMA')}]]원</span></td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="bx bx-data">
			<div class="tb-scroll-wrp">
				<div class="tb-scroll">
					<table class="tb">
						<colgroup>
							<col span="4" style="width: 25%">
						</colgroup>
						<thead>
							<tr>
								<th scope="col">사이즈</th>
								<th scope="col">수량</th>
								<th scope="col">최저가</th>
								<th scope="col">최고가</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="data : ${tableData}">
								<td th:text="${data.SIZE}"></td>
								<td th:text="${data.COUNT}"></td>
								<td th:inline="text">[[${#numbers.formatInteger(data.MIN_PRICE,3,'COMMA')}]] 원</td>
								<td th:inline="text">[[${#numbers.formatInteger(data.MAX_PRICE,3,'COMMA')}]] 원</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<div th:fragment="trendInfoPerSize" id="trend-info-table">
	<script th:inline="javascript">
			var chartDate = new Array();
			var chartMaxPrice = new Array(); 
			var chartMinPrice = new Array();
			var chartAvgPrice =  new Array();
			/*<![CDATA[*/
				/*[# th:each="data : ${chartData}"]*/
					chartDate.push(/*[[${data.MARKET_DATE}]]*/);
					chartMaxPrice.push(/*[[${data.MAX_PRICE}]]*/);
					chartMinPrice.push(/*[[${data.MIN_PRICE}]]*/);
					chartAvgPrice.push(/*[[${data.AVG_PRICE}]]*/);
				/*[/]*/
			/*]]>*/
		</script>
		<script src="/js/trend.chart.js"></script>
		<div class="bx bx-summary">
			<table class="tb">
				<colgroup>
					<col span="1" style="width: 25%">
				</colgroup>
				<thead>
					<tr>
						<th scope="col">Summary</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td class="summary-title" th:inline="text">등록 매물</td>
					</tr>
					<tr>
						<td class="summary-val total-count" th:inline="text">[[${product.askStockCount}]]</td>
					</tr>
					<tr>
						<td class="summary-title" th:inline="text">평균 가격</td>
					</tr>
					<tr>
						<td class="summary-val" th:inline="text">[[${#numbers.formatInteger(product.avgPrice,3,'COMMA')}]]원</td>
					</tr>
					<tr>
						<td class="summary-title up" th:inline="text">최고 가격</td>
					</tr>
					<tr>
						<td class="summary-val" th:inline="text"><span class="price-up">[[${#numbers.formatInteger(product.maxPrice,3,'COMMA')}]]원</span></td>
					</tr>
					<tr>
						<td class="summary-title" th:inline="text">최저 가격</td>
					</tr>
					<tr>
						<td class="summary-val bottom" th:inline="text"><span class="price-down">[[${#numbers.formatInteger(product.minPrice,3,'COMMA')}]]원</span></td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="bx bx-data">
			<div class="tb-scroll-wrp">
				<div class="tb-scroll">
					<table class="tb">
						<colgroup>
							<col span="3" style="width: 33%">
						</colgroup>
						<thead>
							<tr>
								<th scope="col">사이즈</th>
								<th scope="col">수량</th>
								<th scope="col">가격</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="data : ${tableData}">
								<td th:text="${data.SIZE}"></td>
								<td th:text="${data.COUNT}"></td>
								<td th:inline="text">[[${#numbers.formatInteger(data.PRICE,3,'COMMA')}]] 원</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</body>
</html>