@charset "utf-8";

@import url(util.css);

/* Font */
@import url(http://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800);

/* Reset with bootstrap */
body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,legend,input,textarea,button,select{margin:0;padding:0}
body,input,textarea,select,button,table{font-family:'Spoqa Han Sans','맑은 고딕','Malgun Gothic','돋움','Apple SD Gothic Neo',sans-serif}
body{-ms-word-break:break-all;word-break:keep-all;word-wrap:break-word;font-size:16px;line-height:1.5;color:#3e3e40}
a{text-decoration:none;color:inherit;cursor:pointer}
a:hover, a:focus, a:active{text-decoration:none;color:inherit}
a, button, input, textarea, .btn{transition:border-color .4s,background .4s,color .4s,opacity .4s;outline:0}
li{list-style:none}
address,em{font-style:normal}
table{width:100%}
textarea{resize:none}
b, dt, label{font-weight:500}

/* Helper Classes */
.skip{z-index:100;background:#000;text-align:center;color:#fff}
.skip:active, .skip:focus{position:absolute;width:100%;padding:1em;color:#fff}
.overflow{overflow:hidden}
.ellipsis{display:block;overflow:hidden;white-space:nowrap;word-break:normal;text-overflow:ellipsis}
.d-iblock{display:inline-block}
.d-block{display:block !important}
.pr{position:relative}
.pa{position:absolute}
.no-style{margin:0;padding:0;border:0;background:none}
.txtline{display:-webkit-box;overflow:hidden;max-height:2.5em;line-height:1.25em;text-overflow:ellipsis;-webkit-line-clamp:2;-webkit-box-orient:vertical;word-wrap:break-word;white-space:normal}
.hr{margin-top:30px;margin-bottom:30px;border-top-color:#ccc}
.ver-top{vertical-align:top !important}

/* Icon */
[class^=icon-]{display:inline-block;overflow:hidden;margin:0;padding:0;border:0;background-color:transparent;background-position:50% 50%;background-repeat:no-repeat;background-size:100%;font-size:0;line-height:0;text-decoration:none;vertical-align:middle;text-indent:-1000em}

/* Typography */
.lead{margin-bottom:40px;font-weight:700;font-size:60px;line-height:1.2}
.font-mont{font-family:'Montserrat','Spoqa Han Sans','맑은 고딕','Malgun Gothic','돋움','Apple SD Gothic Neo',sans-serif}
.fw400{font-weight:400 !important}
.fw500{font-weight:500 !important}
.text-center{text-align:center !important}
.text-left{text-align:left !important}
.text-right{text-align:right !important}
.t2{font-size:24px}
.t3{font-size:20px}

/* Theme */
.bg-wh{background-color:#fff  !important}
.bg-grey{background-color:#f7f7f7 !important}
.bg-dark{background-color:#2a2a2a !important;color:#fff !important}
.text-wh{color:#fff !important}
.text-blk{color:#000 !important}
.text-primary{color:#ff5632 !important}
.text-muted{color:#d0d0d4}

/* List */
[class*=lst-bullet-]{line-height:1.4}
[class*=lst-bullet-] li{position:relative;padding-left:1em}
[class*=lst-bullet-] li+li{margin-top:2px}
[class*=lst-bullet-] li:before{position:absolute;left:0}
.lst-bullet-dot li{padding-left:.8em}
.lst-bullet-dot li:before{content:"·"}
.lst-bullet-dash li:before{content:"-"}
.lst-bullet-star li:before{content:"*";top:3px}
.list-float:after, .dl-float:after{content:"";display:block;clear:both}
.list-float>li, .dl-float dt{float:left}
.dl-float dt{float:left;margin-right:4px;font-weight:400}
.list-inline{font-size:0;margin:0}
.list-inline>li{padding:0}
.dl-inline>*{display:inline;line-height:1.2;color:#999}

/* Grid */
.row,
.form-horizontal .form-group{margin-left:0;margin-right:0}
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9{padding-left:0;padding-right:0}
.wfull{width:100% !important}
.mxfull{max-width:100% !important}

/* Table */
.tb-fixed{table-layout:fixed}
.tb th, .tb td{padding:20px 2%;font-weight:400;vertical-align:middle;font-size:16px;text-align:center;line-height:1.2;color:#000}
.tb thead th{background:#f7f7f7;white-space:nowrap;font-weight:700;color:rgba(68,68,68,.35)}
.tb td{border-bottom:1px solid #e3e3e3}
.tb td.summary-title {
	border: 0;
	padding: 18px 0 0 0 ;
}
.tb td.summary-val {
	font-size: 25px;
	font-weight: 600;
	border: 0;
	padding: 15px 0 15px 0;
	border-bottom:1px solid #e3e3e3
}
.tb td.summary-val.total-count {
	font-size: 35px;
}
.tb td.summary-val.bottom {
	border: 0;
}
.summary-title.up{
	color: #ff5531;
}
.summary-title.down{
	color: #238da7;
}
.summary-val .price-down, .price-up {
	padding-left: 25px !important;
	background-size: auto 18px !important;
}

/* Form */
label{margin-bottom:0;cursor:pointer}
input{border-radius:0 !important}
.form-control{height:40px;padding:10px 6px;box-shadow:none !important;border-radius:0 !important;border:0;border-bottom:2px solid #e9e9f0;font-size:16px;outline:0}
select.form-control{padding-right:42px;background:#fff url(../img/drop2.png) no-repeat 100% 50%;background-size:auto 7px;-webkit-appearance:none;-moz-appearance:none}
select.form-control::-ms-expand{display:none}
.form-control:focus, .has-error .form-control{
	border-color:#000000 !important
}

.parsley-errors-list.filled {
	font-size: 12px;
	color: #ff5531;
	margin: 8px 0 1px 0;
}
.frm-line-type .form-control{height:40px;padding:6px 0;border:0;border-bottom:2px solid #ddd}
textarea.form-control{height:auto !important}
.form-control:-ms-input-placeholder{opacity:1;color:#c0c0c0 !important}
.form-control::-moz-placeholder{opacity:1;color:#c0c0c0}
.form-control::-webkit-input-placeholder{opacity:1;color:#c0c0c0}
.chk-label input, .radio-label input{overflow:hidden;position:absolute;width:1px;height:1px;padding:0;margin:0;clip:rect(0,0,0,0);border:0}
.chk-label span{display:inline-block;vertical-align:top;line-height:1.25}
.chk-label span:before{content:"";display:inline-block;width:1.25em;height:1.25em;margin-right:.8em;border-radius:4px;border:1px solid #888495;vertical-align:top}
.chk-label input:checked+span:before{border-color:#ff5531;background:#ff5531 url(../img/ic_chk.png) no-repeat 50% 50%;background-size:80% auto}

/* Form : button */
.btn{padding:14px 35px;border-radius:4px;border:1px solid transparent;background:#fff;box-shadow:none !important;font-size:16px;line-height:1.125;color:#5e5e5e}
.btn-label{position:relative;padding-left:15px;text-align:left;background:#f1f1f1}
.icon-del{position:absolute;top:50%;right:10px;width:12px;height:12px;margin-top:-6px;background-image:url(../img/ic_filter.png);background-size:100%;font-size:inherit}
.btn-primary{background:#ff5531;border-color:transparent !important;color:#fff !important}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active{background:#ff4720 !important}
[class*=btn-border]{position:relative;border-color:#43425d;color:#4d4f5c !important}
[class*=btn-border]:hover:before, [class*=btn-border]:focus:before, [class*=btn-border]:active:before{content:"";position:absolute;top:0;left:0;right:0;bottom:0;border:1px solid;border-radius:4px}

/* Slider */
.swiper-slide{overflow:hidden}
.swiper-container-horizontal>.swiper-pagination-bullets{bottom:40px}
.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet{margin:0 5px}
.swiper-pagination-bullet{width:8px;height:8px;background:#fff;opacity:.5}
.swiper-pagination-bullet.swiper-pagination-bullet-active{width:28px;border-radius:3px;background:#ef4f2e}
.swiper-button-next, .swiper-button-prev{transform:scale(.5)}
.ani-delay02{-webkit-animation-delay:.2s;animation-delay:.2s}
.ani-delay03{-webkit-animation-delay:.3s;animation-delay:.3s}
.ani-delay04{-webkit-animation-delay:.4s;animation-delay:.4s}
.ani-delay05{-webkit-animation-delay:.5s;animation-delay:.5s}
.animated {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
.animated {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

@-webkit-keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.fadeIn {
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
          animation-name: fadeInUp;
}


/*-------------------
    PAGES
--------------------*/

/* Layout */
#wrap{position:relative;overflow:hidden}
#container, .layout{position:relative;max-width:1920px;margin:0 auto}
.container{width:auto !important;min-height:-webkit-calc(100vh - 100px);min-height:calc(100vh - 100px);margin:100px 0 100px -webkit-calc(200px + 3.1%);margin:100px 0 100px calc(200px + 3.1%);padding:50px 3.7%;padding-left:5.5%}
.container-fluid{width:auto !important;height:-webkit-calc(100vh - 100px);height:calc(100vh - 100px);min-height:500px;padding-top:100px;margin-bottom:100px;box-sizing:content-box}

/* Header */
#hd{position:fixed;top:0;right:0;left:0;bottom:0;z-index:50;height:100px;background:#ff5531}
.util{position:absolute;top:39px;right:3.1%}
.util [class*=icon-]{display:block;width:22px;height:22px}
.icon-srch{background-image:url(../img/ic_search.png);background-size:22px}
.icon-my{background-image:url(../img/ic_person.png);background-size:auto 22px}
.logo{position:absolute;top:70px;left:3.1%;width:200px;height:70px;background:#000 url(../img/logo.png) no-repeat 50% 50%;background-size:auto 100%}

/* Search */
.hdSrch-open{overflow:hidden}
#hdSrch{display:none;position:fixed;top:0;left:50%;width:100%;max-width:1920px;z-index:100;transform:translateX(-50%) scaleY(0);transform-origin:top left;transition:transform .3s}
.hd-srch{position:absolute;top:0;right:3.1%;width:880px;padding:5px 68px 60px;background:#ff5531}
.hdSrch-open #hdSrch{transform:translateX(-50%) scaleY(1)}
.dim{position:fixed;top:0;left:0;right:0;bottom:0;z-index:90;background:#000;opacity:.54}
.nav-open .dim{opacity:.54}
.frm-srch-wrp{font-size:20px;font-weight:600;color:#fff}
.betamsg-txt{opacity:.8;letter-spacing:.03em;color:#000000}
.betamsg-txt > li+li{margin-top:15px;}
.rcmd-txt{opacity:.5;letter-spacing:.03em}
.rcmd-txt > li+li{margin-top:15px;}
.frm-srch{position:relative;font-size:1.75em}
.frm-srch .icon-srch{position:absolute;top:0;bottom:0;right:0;width:22px}
.frm-srch input{display:block;width:100%;height:1.8em;padding-right:1.5em;border:0;background:none;border-bottom:3px solid #fff;outline:0}
.frm-srch input:-ms-input-placeholder{color:rgba(255,255,255,.34) !important}
.frm-srch input::-moz-placeholder{opacity:.34;color:inherit}
.frm-srch input::-webkit-input-placeholder{opacity:.34;color:inherit}
.srch-help-txt{margin:1.538em 0;font-size:1.3em;line-height:1.92}
.fix-label{position:absolute;bottom:.3em;left:0;right:0;text-align:center;font-size:.857em;color:rgba(255,255,255,.5);font-weight:400}
.on .fix-label{display:none}
@-webkit-keyframes flash {
  0%, 50%, 100% {
    opacity: 1;
  }

  25%, 75% {
    opacity: 0;
  }
}

@keyframes flash {
  0%, 50%, 100% {
    opacity: 1;
  }

  25%, 75% {
    opacity: 0;
  }
}

.flash.flash {
  -webkit-animation-name: flash;
  animation-name: flash;
  -webkit-animation-duration: 2s;
  animation-duration: 2s
}
.animated.infinite {
  -webkit-animation-iteration-count: 3;
  animation-iteration-count: 3;
}

/* Gnb */
#gnb{width:220px;padding:34px 43px;background:#fff;line-height:1.5;font-size:20px;color:#000}
.gnb>li>a{font-weight:600}
.gnb .active>a{color:#ff5531}
.gnb>li+li{margin-top:30px}
.gnb>.group+.group{margin-top:10px}
.dep2{font-size:14px;line-height:1.29}
.dep2>li{margin:8px 0 0 13px}
.dep3{display:none;padding:0 0 10px 17px}
.dep3>li{margin-top:10px}
.depth>a{display:block}
.depth>a:after{content:"\e114";float:right;margin-top:4px;font-size:10px;line-height:1;font-family:'Glyphicons Halflings';color:#bcbccb}
.depth.active>a:after{content:"\e113";}

/* Footer */
#ft{position:absolute;bottom:0;left:0;right:0;background:#232323;line-height:100px;text-align:center;font-size:14px;color:#fff}

/* Main */
.index{background:#ff5531}
/* .index .container-fluid{padding-left:calc(220px + 3.1%);padding-right:calc(220px + 3.1%);background:url(../img/background_web.jpg) no-repeat 50% 50%;background-size:auto 100%;text-align:center} */
.index .container-fluid{padding-left:calc(220px + 3.1%);padding-right:calc(220px + 3.1%);text-align:center}
.index .container-fluid:before{content:"";display:inline-block;width:1px;height:100%;margin-left:-1px;vertical-align:middle}
.index .logo{display:none}
.main-wrap{display:inline-block;width:530px;margin-bottom:100px;vertical-align:middle}
.main-wrap .title-image{display:block;width:250px;margin:0 auto}
.main-wrap .company-image{display:block;width:40px;margin:0 auto}
.main-wrap .frm-srch{margin:2em 0 1.5em}
.main-wrap .frm-srch input:-ms-input-placeholder{color:#fff !important}
.main-wrap .frm-srch input::-moz-placeholder{opacity:1;color:inherit}
.main-wrap .frm-srch input::-webkit-input-placeholder{opacity:1;color:inherit}

/* List */
.lst-item{margin:-7px}
.lst-item>li{width:25%;padding:7px;padding-bottom:20px;vertical-align:top}
.lst-item>li>.item{display:block;font-size:16px}
.item-thumb>img{width:100%}
.content-srch{margin-bottom:2.5em;font-size:16px;color:#000}
.content-srch .frm-srch{width:50%;padding-right:7px}
.content-srch .icon-srch{width:30px;right:7px;background-image:url(../img/ic_search_blk.png);background-size:30px}
.content-srch .frm-srch input{height:2.2em;border-bottom-color:#000}
.content-srch .frm-srch input:-ms-input-placeholder{color:rgba(0,0,0,.34) !important}
.item-info{padding:1.375em 0}
.item-name{height:2.5em;margin-bottom:.8em;font-size:1em;color:rgba(0,0,0,.54);font-weight:500}
.item-price>span{display:inline-block;padding-left:18px;background-position:0 4px;background-repeat:no-repeat;background-size:auto 13px;vertical-align:top;font-weight:700;line-height:1.2}
.item-price .up{margin-left:5%;background-image:url(../img/ic_up_mobile@3x.png)}
.item-price .down{background-image:url(../img/ic_down_mobile@3x.png)}
.filter{margin:1.4em -9px 0 0}
.filter .btn{margin:13px 9px 0 0;border-radius:0;border:2px solid #f1f1f1}
.no-data{padding:4.5em 0;font-size:18px}
.no-data>p{margin:15px 0 .694em;font-size:2em;font-weight:300;line-height:1.19}
.no-data>ul>li{margin:0;line-height:1.94;color:rgba(0,0,0,.4)}

/* Account */
.account-page #ft, .detail-page #ft{display:none}
.account-page .title-image{display:block;width:300px;margin:0 auto 100px}
.account-btm{padding-top:10px;line-height:1.25}
.btn-wrp{margin:5.5em -15px 0}
.btn-wrp .btn{padding:17px}
.btn-wrp>div{padding:0 15px}
.btn-wrp>p{margin-top:2.5em;text-align:center}
.account-ft-txt{position:absolute;bottom:45px;left:0;right:0;text-align:center;font-size:10px;color:#43425d;opacity:.45}
.frm-account{padding:6vh 10% 12vh}
.frm-account .font-mont{margin-bottom:90px;font-size:47px;line-height:1.2;text-align:center;font-weight:700;color:#000}
.account-wrp.center .frm-account{position:relative;top:50%;left:50%;width:100%;transform:translate(-50%,-50%)}
.login-fail {
    font-size: 14px;
    margin: 15px 0 0 0;
    color: #FF5531;
}


/* About */
.about-txt{line-height:2.2;color:#717171}
.ani-delay02{-webkit-animation-delay:.2s;animation-delay:.2s}
.ani-delay03{-webkit-animation-delay:.3s;animation-delay:.3s}
.ani-delay04{-webkit-animation-delay:.4s;animation-delay:.4s}
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}

/* Detail */
.detail-page .container-fluid{height:-webkit-calc(100vh - 100px);height:calc(100vh - 100px);margin:0;padding-left:0;padding-right:0;background:#ebebf6}
.bx{background:#fff;box-shadow:0 4px 6px 0 rgba(0, 0, 0, .04);border-radius:3px}
.size-filter-buttons>li{float:left;width:12.5%}
.item-meta-info{position:relative;z-index:10;padding:0 20px 15px}
.item-meta-info .bx{padding:4%;margin-top:-15px;text-align:center}
.item-meta-info .t2{font-weight:600}
.dsc-meta{margin:1em 0 2em;font-size:14px;opacity:.54}
.dsc-meta>.dl-inline{display:inline}
.dsc-meta>.dl-inline:not(:first-child):before{content:"";display:inline-block;height:16px;margin:-2px 15px 0;border-left:1px solid #d5d5d5;vertical-align:middle}
.dsc-meta>.dl-inline>*{line-height:16px}
.dsc-meta dt{margin-right:.769em;font-size:.929em}
.price-down, .price-up{padding-left:12px;background-position:0 50%;background-repeat:no-repeat;background-size:auto 9px;font-weight:700}
.price-up{background-image:url(../img/ic_up_mobile@3x.png);color:#ff5531}
.price-down{background-image:url(../img/ic_down_mobile@3x.png);color:#238da7}
.dsc-price {
	margin-bottom: 1.2em;
	padding: 10px 15px 10px 15px;
	border: 1px solid #e3e3e3;
	border-width: 1px 0;
	font-weight: 600;
	font-size: 1.1em;
	display: grid;
    grid-template-columns: 1.5fr 1fr .8fr 1fr .3fr;
    grid-template-rows: 1fr ifr ifr;
}
.dsc-price .item1 {
    grid-row-start: 1;
    grid-row-end: 4;
    align-self: center;
    font-size: 1.5em
}

.dsc-price .item2 {
    grid-row-start: 1;
    grid-row-end: 4;
    align-self: center;
    font-size: 1.5em
}

.dsc-price .item3 {
    grid-column-start: 3;
    grid-column-end: 4;
    align-self: center;
    text-align: right;
}

.dsc-price .item4 {
    grid-column-start: 4;
    grid-column-end: 5;
    align-self: center;
    text-align: right;
    letter-spacing:.03em
}

.dsc-price>span{display:inline-block;vertical-align:bottom;line-height:18px}
.dsc-price>span+span{margin-left:5%}
.dsc-price small{float:right;margin:2px 10px 0 0;font-size:12px;font-weight:400}
.size-filter .t3{display:inline;font-weight:600}
.size-filter small{margin-left:5px;font-size:12px;opacity:.87;color:#7a7a7c}
.size-filter-buttons{margin:10px -8px -8px}
.size-filter-buttons>li{padding:8px}
.size-filter-buttons a{display:block;padding:7px;border:1px solid #ececec;background:#fff;font-size:14px;color:rgba(77,79,92,.87)}
.size-filter-buttons a:hover{border-color:#ff5531;box-shadow:0 3px 6px 0 rgba(0, 0, 0, .1)}
.size-filter-buttons .selected{border-color:#ff5531;background:#ff5531;color:#fff}
.size-filter-buttons .disabled{background:#f7f7f7;color:rgba(77,79,92,.2);pointer-events:none}
.bx-graph-title{height:50px;padding:13px 40px;line-height:24px;font-size:20px;background:#000;color:#fff}
.bx-graph-title .date{font-size:14px;opacity:.5}
.chart-container {position: relative;height:290px;padding: 30px 30px 10px 30px;}
.dsc-price .up{color:#ff5531}
.dsc-price .down{color:#238da7}
.trend-options {
	width: 60%;
	text-align: center;
}

@media (min-width:768px) {
	.form-group{margin-bottom:30px}
	.btn-wrp .btn{padding:19px;font-size:1.125em}
	.btn-wrp .col-xs-12>.btn-block{max-width:300px;margin:0 auto}
	.btn-wrp>.col-xs-12+div.col-xs-12:not([class*=col-sm]){margin-top:20px}
}

@media (min-width:992px) {
	.container-fluid{min-height:700px}
	.nav-open #wrap{top:0 !important}
	#container:after{content:"";display:block;clear:left}
	#gnb{float:left;margin:65px 0 0 3.1%;display:block !important}
	.dim-gnb{display:none}

	.util>li{margin-left:38px}
	.js-btn-mn{display:none}

	.index #hd{background:none}
	.index #gnb{position:absolute;float:none;top:50%;left:3.1%;transform:translateY(-50%);margin:0}

	.account-page #hd, .account-page #gnb, .detail-page #gnb{display:none !important}
	.account-page .container-fluid{position:relative;height:100vh;padding:0;margin:0}
	.account-page .container-fluid:before{content:"";display:block;position:absolute;top:0;left:0;bottom:0;right:47%;background:url(../img/background_web.jpg) no-repeat 50% 50%;background-size:cover}
	.account-wrp{position:relative;float:right;width:47%;height:100%;background:#fff}
	.frm-account{position:relative;top:50%;left:50%;max-width:450px;padding:0;transform:translate(-50%,-50%)}
	.frm-account .font-mont+.btn-wrp{margin-top:-2.5em}

	.about-content{padding-right:0}
	.about-content img{display:none}
	.about-txt-wrap{position:relative;margin-left:25%;height:-webkit-calc(100vh - 200px);height:calc(100vh - 200px);min-height:600px;background-size:cover;background-position:50% 50%}
	.about-txt{position:absolute;top:50%;left:0;text-align:left;transform:translate(-50%,-50%)}
}

@media (min-width:1025px) {
	.detail-content>div{float:left;height:100%}
	.detail-info{width:42%;display:flex;flex-direction:column}
	.detail-swiper{position:relative;width:100%;flex:1}
	.detail-swiper .swiper-wrapper{position:absolute;top:0;left:0;right:0;bottom:0}
	.detail-swiper .swiper-slide{background-position:50% 50%;background-repeat:no-repeat;background-size:cover}
/* 	.detail-swiper img{display:none} */
	.detail-data{position:relative;width:58%}
	.bx-data {
		position: absolute;
		left: 25%;
		right: 0;
		bottom: 0;
		top: 360px;
		padding: 20px
	}
	.bx-summary {
		position: absolute;
		left: 0;
		right: 0;
		bottom: 15px;
		top: 360px;
		width: 23%;
		padding: 20px
	}
	.tb-scroll-wrp{height:100%}
	.tb-scroll{overflow-y:scroll;height:-webkit-calc(100% - 60px);height:calc(100% - 60px)}
	.tb-scroll-wrp th{height:60px;font-size:18px}
}

@media (max-width:1440px) and (min-width:1025px) {
	.detail-info{width:600px}
	.detail-data{width:calc(100% - 600px)}
	.bx-graph-title{padding-left:20px;padding-right:20px}
	.dsc-price>span+span{margin-left:2%}
	.dsc-price small{margin-right:10px}
	.size-filter-buttons>li{padding:6px}
}

@media (max-width:1279px) {
	.index .container-fluid{padding-right:0}
	.lst-item>li{width:33.33%}
	.content-srch .frm-srch{width:66.66%}
	.account-wrp{width:60%}
}

@media (max-width:1024px) {
	.detail-page .container-fluid{height:auto}
	.detail-swiper .swiper-slide{background:none !important}
	.detail-swiper img{display:block;max-width:100%;margin:0 auto}
	.tb-scroll-wrp tr>*{width:auto !important}
	.tb-scroll-wrp colgroup{display:none}
	.bx-graph-title{height:auto;padding:10px 20px;font-size:16px}
	.bx-graph-title .date{font-size:12px}
	.swiper-container-horizontal>.swiper-pagination-bullets{bottom:25px}
}

@media (max-width:991px) {
	#hd{height:44px;text-align:center}
	#container{position:static}
	#ft{line-height:66px}
	.container{min-height:-webkit-calc(100vh - 44px);min-height:calc(100vh - 44px);margin:44px 0 66px;padding:20px}
	.container-fluid{height:auto;min-height:-webkit-calc(100vh - 44px);min-height:calc(100vh - 44px);padding-top:44px;margin-bottom:66px}

	#gnb{display:none;overflow-y:auto;position:fixed;top:44px;left:0;bottom:0;padding:80px 40px;z-index:90;transform:translateX(-100%);transition:transform .3s}
	.nav-open{overflow:hidden}
	.nav-open #wrap{position:fixed;left:0;right:0}
	.nav-open #gnb{display:block}
	.gnb-open #gnb{transform:translate(0)}
	.logo{position:static;display:inline-block;width:30px;height:30px;margin-top:7px;background-image:url(../img/logo_m.png);vertical-align:top}
	.util{top:0;right:6px}
	.util [class*=icon-]{width:44px;height:44px}
	.icon-srch{background-size:17px}
	.icon-my{background-size:auto 17px}
	.js-btn-mn{position:absolute;top:0;left:20px;width:44px;height:44px}
	.js-btn-mn>span{display:block;width:20px;margin-top:14px;border-top:2px solid #fff;font-size:0;line-height:0;text-indent:-9999em;transition:all .3s cubic-bezier(0.165, 0.84, 0.44, 1)}
	.js-btn-mn>span+span{margin-top:5px}
	.gnb-open .js-btn-mn>span:nth-child(1){width:28px;transform:translate(-8px,-2.5px) rotate(-45deg);transform-origin:top right}
	.gnb-open .js-btn-mn>span:nth-child(2){opacity:0}
	.gnb-open .js-btn-mn>span:nth-child(3){width:28px;transform:translate(-8px,2.5px) rotate(45deg);transform-origin:bottom right}
	.dim-gnb{top:44px}
	.hd-srch{top:0;left:0;right:0;width:auto;padding:15px 10% 60px}

/* 	.index .container-fluid{position:relative;padding-left:0;background-image:url(../img/background_mobile.jpg);background-size:cover} */
	.index .container-fluid{position:relative;padding-left:0}
	.index .container-fluid:before{display:none}
	.main-wrap{position:absolute;top:50%;left:50%;width:80%;max-width:530px;margin:0 auto;transform:translate(-50%,-50%)}

	.content-srch{padding:0 4.5%}
	.content-srch .frm-srch{width:auto;padding:0}
	.content-srch .icon-srch{right:0}
	.no-data{text-align:center}

	.account-page .container-fluid{position:relative;min-height:-webkit-calc(100vh - 44px);min-height:calc(100vh - 44px);margin:0}
	.account-wrp{width:auto;margin:0 -20px}
	.account-page .title-image{margin-top:20px}
	.account-wrp.center{-webkit-height:calc(100vh - 44px);height:calc(100vh - 44px);min-height:300px}

	.about-content{padding:0}
	.about-content>img{width:100%}
	.about-txt-wrap{position:relative;padding:0 10% 10%;background:none !important}
	.about-txt .lead{margin-top:-.65em}

	.dsc-price{margin-bottom:0;padding-bottom:10px;border-bottom:0}
	.size-filter{position:fixed;z-index:100;bottom:0;left:0;right:0}
	.size-filter-wrp{display:none;position:absolute;left:0;bottom:0;right:0}
	.open .size-filter-wrp{display:block}
	.size-filter-wrp>button, .js-btn-size.dim{position:absolute;bottom:0;left:0;width:100%;height:100vh;background:rgba(0,0,0,.54);outline:0}
	.size-filter-cont{position:relative;background:#fff}
	.size-filter-cont>p{position:relative;padding:17px 0;background:#ff5531;line-height:1.2;font-size:14px;text-align:center;color:#fff}
	.size-filter-cont>p>a{position:absolute;top:0;right:0;bottom:0;width:40px;background:url(../img/ic_chk.png) no-repeat 50% 50%;background-size:auto 13px}
	.size-filter .btn-primary{height:50px;background:rgba(255,85,49,.95);border-radius:0}
	.bx-data{margin:15px 0 50px}
	.item-meta-info{padding:0 15px 15px}
	.size-filter-buttons{padding:14px;margin:0}
	.size-filter-buttons>li{width:25%;padding:6px}
	.js-btn-size.dim{position:fixed;top:0;bottom:auto;height:44px}
	
	.chart-container{position: relative;height:260px;padding: 30px 15px 10px 15px;}
}

@media (max-width:767px) {
	body, .tb th, .tb td{font-size:14px}

	.lead{margin-bottom:10px;font-size:40px}
	.t2{font-size:18px}

	.btn{padding:8px 15px;font-size:14px}
	.btn-label{padding:10px 9px;padding-right:35px}
	.icon-del{background-size:8px}
	.chk-label span:before{margin-right:.5em}

	#ft{font-size:12px}
	.frm-srch-wrp{font-size:13px}
	.frm-srch input{height:2.2em;font-size:20px}
	.frm-srch-label{line-height:2.2em;font-size:20px}

	.main-wrap .title-image{width:180px}
	.main-wrap .company-image{width:30px;}
	.main-wrap .frm-srch-wrps, .fix-label{font-size:16px}
	.fix-label{margin-bottom:4px}

	.content-srch .icon-srch{background-size:20px}
	.lst-item{margin:-5px -25px}
	.lst-item>li{width:50%;padding:5px}
	.lst-item>li>.item{font-size:14px}
	.item-info{padding:10px 20px}
	.item-price>span{background-size:auto 10px}
	.item-price .down{margin-left:0}
	.filter{margin-right:-5px}
	.filter .btn{margin:10px 5px 0 0}

	.no-data{padding-top:3.5em;font-size:14px}
	.no-data>p{margin:0 0 1em}
	.no-data>ul>li{line-height:1.43}

	.account-page .title-image{width:180px;margin-bottom:50px}
	.account-ft-txt{bottom:15px}
	.btn-wrp>div+div{margin-top:14px}
	.frm-account .font-mont{margin-bottom:30px;font-size:30px}
	.btn-wrp>.col-xs-12:first-child{margin-top:-2.5em}
	.btn-wrp>p{margin-top:1.4em}

	.dsc-meta{margin-bottom:1.5em;font-size:13px}
	.dsc-meta>.dl-inline:not(:first-child):before{margin-left:10px;margin-right:10px}
	.dsc-price:after{content:"";display:block;clear:left}
	.dsc-price>span{float:left;width:33.33%;margin:0 !important}
	.dsc-price>span>span{display:block}
	.dsc-price small{float:none;margin:0}
	.style-num{margin-bottom:1em;font-size:10px;line-height:1.1;opacity:.34}
}






