<!DOCTYPE html>
<html lang="ko"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="format-detection" content="telephone=no">
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
<title>PAIR2</title>

<!-- css -->
<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/css/common.css">

<!-- js -->
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>

</head>

<!-- [D] class="account-page" -->
<body class="account-page"><a href="#container" class="skip sr-only sr-only-focusable">Skip to Content</a>

<div id="wrap">
	<!-- Header -->
	<header id="hd">
		<div class="layout">
			<h1 class="logo text-hide"><a href="">PAIR2</a></h1>
			<a href="javascript:;" class="js-btn-mn">
				<span>메뉴열기/닫기</span>
				<span></span>
				<span></span>
			</a>
			<ul class="list-inline util">
				<li><a href="javascript:;" class="icon-srch js-btn-srch">검색</a></li>
				<li><a href="" class="icon-my">마이페이지</a></li>
			</ul>
		</div>
	</header>
	<!-- //Header -->

	<!-- Search -->
	<div id="hdSrch">
		<div class="frm-srch-wrp hd-srch">
			<form class="frm-srch">
				<input type="text" placeholder="search" title="검색어 입력">
				<button type="submit" class="icon-srch">검색</button>
			</form>
			<p class="srch-help-txt">Enter the shoe game...</p>
			<ul class="rcmd-txt">
				<li><a href="">NIKE AIR</a></li>
				<li><a href="">나이키 에어맥스 97</a></li>
				<li><a href="">나이키 킬샷2 제이크루</a></li>
			</ul>
		</div>
	</div>
	<!-- //Search -->

	<!-- Container -->
	<div id="container">
		<!-- Gnb -->
		<nav id="gnb">
			<ul class="gnb font-mont">
				<!-- [D] 활성화 class="active" -->
				<li><a href="">ALL</a></li>
				<li class="group"><a href="">NEW</a></li>
				<li class="group"><a href="">HOT</a></li>
				<li class="group"><a href="">COLLAB</a></li>
				<li>
					<a href="">BRAND</a>
					<ul class="dep2">
						<li><a href="">Adidas</a></li>
						<li><a href="">Jordan</a></li>
						<li><a href="" onClick="$('#menuModel').toggle();return false;">Nike</a></li>
						<li><a href="">Other</a></li>
					</ul>
				</li>
				<li id="menuModel" style="display:none">
					<a href="">MODEL</a>
					<ul class="dep2">
						<li class="depth active">
							<a href="">Airmax</a>
							<ul class="dep3" style="display:block">
								<li class="active"><a href="">0</a></li>
								<li><a href="">1</a></li>
								<li><a href="">90</a></li>
								<li><a href="">95</a></li>
								<li><a href="">97</a></li>
								<li class="active"><a href="">Vapromax</a></li>
								<li><a href="">Other</a></li>
							</ul>
						</li>
						<li class="depth">
							<a href="">Force</a>
							<ul class="dep3">
								<li><a href="">0</a></li>
								<li><a href="">1</a></li>
								<li><a href="">90</a></li>
								<li><a href="">95</a></li>
								<li><a href="">97</a></li>
								<li><a href="">Vapromax</a></li>
								<li><a href="">Other</a></li>
							</ul>
						</li>
					</ul>
				</li>
				<li><a href="">ABOUT</a></li>
			</ul>
		</nav>
		<!-- //Gnb -->
<!-- 페이지시작 -->
<div class="container-fluid clearfix">
	<div class="account-wrp">
		<form class="frm-account" th:action="@{/login}" method="post">
			<h1 class="text-hide"><img src="img/logo.png" class="title-image" alt="">PAIR2</h1>
			<div class="form-group">
				<input type="email" id="email" name="email" class="form-control" placeholder="이메일" th:value="${email}">
			</div>
			<div class="form-group">
				<input type="password" id="password" name="password" class="form-control" placeholder="비밀번호">
				
				
				<div class="login-fail" th:if="${loginFailMsg != null}">
<!-- 					<span>입력된 아이디 또는 비밀번호가 일치하지 않습니다.</span> -->
					<span th:text="${loginFailMsg}"></span>
				</div>
			</div>
			<div class="account-btm clearfix">
				<label class="chk-label">
					<input type="checkbox"><span>자동 로그인</span>
				</label>
				<a href="" class="pull-right">비밀번호를 잊으셨나요?</a>
			</div>
			
			<div class="btn-wrp row">
				<div class="col-sm-6 col-xs-12">
					<button type="submit" class="btn btn-primary btn-block">로그인</button>
				</div>
				<div class="col-sm-6 col-xs-12">
					<a href="/signup" class="btn btn-block btn-border">회원가입</a>
				</div>
			</div>
			<input type="hidden" name="loginRedirect" th:value="${loginRedirectUrl}">
		</form>
	</div>
</div>
<!-- //페이지끝 -->
	</div>
	<!-- //Container -->

</div><!-- //Wrap -->

<!-- js -->
<script src="/js/common.js"></script>
</body>
</html>