<!DOCTYPE html>
<html lang="ko"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="format-detection" content="telephone=no">
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
<title>PAIR2</title>

<!-- favicon -->
<link rel="apple-touch-icon" sizes="180x180" href="/img/favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/img/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/img/favicon/favicon-16x16.png">
<link rel="manifest" href="/img/favicon/site.webmanifest">
<link rel="mask-icon" href="/img/favicon/safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">

<!-- css -->
<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/css/common.css">

<!-- js -->
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>

</head>

<body><a href="#container" class="skip sr-only sr-only-focusable">Skip to Content</a>

<div id="wrap">
	<!-- Header -->
	<header id="hd">
		<div class="layout">
			<h1 class="logo text-hide" onclick="location.href='/'"><a href="/login">PAIR2</a></h1>
			<a href="javascript:;" class="js-btn-mn">
				<span>메뉴열기/닫기</span>
				<span></span>
				<span></span>
			</a>
			<ul class="list-inline util">
				<li><a href="javascript:;" class="icon-srch js-btn-srch">검색</a></li>
				<li sec:authorize="isAnonymous()"><a href="/login" class="icon-my">마이페이지</a></li>
				<li sec:authorize="isAuthenticated()"><a href="/mypage" class="icon-my">마이페이지</a></li>
			</ul>
		</div>
	</header>
	<!-- //Header -->

	<!-- Search -->
	<div id="hdSrch">
		<div class="frm-srch-wrp hd-srch">
			<form class="frm-srch">
				<input type="text" placeholder="search" title="검색어 입력">
				<button type="submit" class="icon-srch">검색</button>
			</form>
			<p class="srch-help-txt font-mont fw400">ENTER THE SHOE GAME.</p>
			<ul class="rcmd-txt">
				<li><a href="">NIKE AIR</a></li>
				<li><a href="">나이키 에어맥스 97</a></li>
				<li><a href="">나이키 킬샷2 제이크루</a></li>
			</ul>
		</div>
	</div>
	<!-- //Search -->

	<!-- Container -->
	<div id="container">
		<!-- Gnb -->
		<nav id="gnb">
			<ul class="gnb font-mont">
				<!-- [D] 활성화 class="active" -->
				<li><a href="">ALL</a></li>
				<li class="group"><a href="">NEW</a></li>
				<li class="group"><a href="">HOT</a></li>
				<li class="group"><a href="">COLLAB</a></li>
				<li>
					<a href="">BRAND</a>
					<ul class="dep2">
						<li><a href="">Adidas</a></li>
						<li><a href="">Jordan</a></li>
						<li><a href="" onClick="$('#menuModel').toggle();return false;">Nike</a></li>
						<li><a href="">Other</a></li>
					</ul>
				</li>
				<li id="menuModel" style="display:none">
					<a href="">MODEL</a>
					<ul class="dep2">
						<li class="depth active">
							<a href="">Airmax</a>
							<ul class="dep3" style="display:block">
								<li class="active"><a href="">0</a></li>
								<li><a href="">1</a></li>
								<li><a href="">90</a></li>
								<li><a href="">95</a></li>
								<li><a href="">97</a></li>
								<li class="active"><a href="">Vapromax</a></li>
								<li><a href="">Other</a></li>
							</ul>
						</li>
						<li class="depth">
							<a href="">Force</a>
							<ul class="dep3">
								<li><a href="">0</a></li>
								<li><a href="">1</a></li>
								<li><a href="">90</a></li>
								<li><a href="">95</a></li>
								<li><a href="">97</a></li>
								<li><a href="">Vapromax</a></li>
								<li><a href="">Other</a></li>
							</ul>
						</li>
					</ul>
				</li>
				<li><a href="">ABOUT</a></li>
			</ul>
		</nav>
		<!-- //Gnb -->
<!-- 페이지시작 -->
<div class="container">
	<div class="frm-srch-wrp content-srch">
		<form class="frm-srch">
			<input type="text" placeholder="search" title="검색어 입력">
			<button type="submit" class="icon-srch">검색</button>
		</form>
	</div>
	<ul class="lst-item list-inline">
		<li th:each="product : ${products}">
			<a th:href="@{/product/detail/{id}(id=${product.idx})}" class="item">
				<div class="item-thumb"	th:each="image : ${product.images}" th:object="${image}" th:if="${image.represent} == true" >
					<img th:src="@{${image.imageUrl}}" alt="">
				</div>
				<div class="item-info">
					<div class="item-name font-mont txtline"  th:text="${product.name}"></div>
					<div class="item-price">
						<span class="down" th:inline="text">[[${#numbers.formatInteger(product.minPrice,3,'COMMA')}]] 원</span>
						<span class="up" th:inline="text">[[${#numbers.formatInteger(product.maxPrice,3,'COMMA')}]] 원</span>
					</div>
				</div>
			</a>
		</li>
	</ul>
</div>
<!-- //페이지끝 -->
	</div>
	<!-- //Container -->

	<!-- Footer -->
	<footer id="ft" class="font-mont">
		<p>&copy; 2018 NODOT. All Right Reserved.</p>
	</footer>
	<!-- //Footer -->

</div><!-- //Wrap -->

<!-- js -->
<script src="/js/common.js"></script>
</body>
</html>