<!DOCTYPE html>
<html lang="ko" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="format-detection" content="telephone=no">
<meta name="viewport"
	content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
<title>PAIR2</title>

<!-- css -->
<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/css/swiper.min.css">
<link rel="stylesheet" type="text/css" href="/css/common.css">

<!-- js -->
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/Chart.bundle.min.js"></script>

<script th:inline="javascript">

/*<![CDATA[*/
var size = [[${size}]];
var term = [[${term}]];
var trendInfoUrl = '/product/trend/[[${product.idx}]]?';
var lineChart;

function getTrendByOptions() {
	$.ajax({
		type: "GET",
		url: trendInfoUrl+'term='+this.term+'&size='+this.size,
		async: false,
		success : function(data, status){
			$('#trend-info-table').replaceWith(data);
			lineChart.destroy();
			drawChart();
		}, error : function(e) {
			
		}
	})
}

/*]]>*/
</script>

</head>
<!-- [D] 상세페이지 class="detail-page" -->
<body class="detail-page">
	<a href="#container" class="skip sr-only sr-only-focusable">Skip to
		Content</a>

	<div id="wrap">
		<!-- Header -->
		<header id="hd">
			<div class="layout">
				<h1 class="logo text-hide" onclick="location.href='/'">
					<a href="">PAIR2</a>
				</h1>
				<a href="javascript:;" class="js-btn-mn"> <span>메뉴열기/닫기</span> <span></span>
					<span></span>
				</a>
				<ul class="list-inline util">
					<li><a href="javascript:;" class="icon-srch js-btn-srch">검색</a></li>
					<li><a href="" class="icon-my">마이페이지</a></li>
				</ul>
			</div>
		</header>
		<!-- //Header -->

		<!-- Search -->
		<div id="hdSrch">
			<div class="frm-srch-wrp hd-srch">
				<form class="frm-srch">
					<input type="text" placeholder="search" title="검색어 입력">
					<button type="submit" class="icon-srch">검색</button>
				</form>
				<p class="srch-help-txt">Enter the shoe game...</p>
				<ul class="rcmd-txt">
					<li><a href="">NIKE AIR</a></li>
					<li><a href="">나이키 에어맥스 97</a></li>
					<li><a href="">나이키 킬샷2 제이크루</a></li>
				</ul>
			</div>
		</div>
		<!-- //Search -->

		<!-- Container -->
		<div id="container">
			<!-- Gnb -->
			<nav id="gnb">
				<ul class="gnb font-mont">
					<!-- [D] 활성화 class="active" -->
					<li><a href="">ALL</a></li>
					<li class="group"><a href="">NEW</a></li>
					<li class="group"><a href="">HOT</a></li>
					<li class="group"><a href="">COLLAB</a></li>
					<li><a href="">BRAND</a>
						<ul class="dep2">
							<li><a href="">Adidas</a></li>
							<li><a href="">Jordan</a></li>
							<li><a href=""
								onClick="$('#menuModel').toggle();return false;">Nike</a></li>
							<li><a href="">Other</a></li>
						</ul></li>
					<li id="menuModel" style="display: none"><a href="">MODEL</a>
						<ul class="dep2">
							<li class="depth active"><a href="">Airmax</a>
								<ul class="dep3" style="display: block">
									<li class="active"><a href="">0</a></li>
									<li><a href="">1</a></li>
									<li><a href="">90</a></li>
									<li><a href="">95</a></li>
									<li><a href="">97</a></li>
									<li class="active"><a href="">Vapromax</a></li>
									<li><a href="">Other</a></li>
								</ul></li>
							<li class="depth"><a href="">Force</a>
								<ul class="dep3">
									<li><a href="">0</a></li>
									<li><a href="">1</a></li>
									<li><a href="">90</a></li>
									<li><a href="">95</a></li>
									<li><a href="">97</a></li>
									<li><a href="">Vapromax</a></li>
									<li><a href="">Other</a></li>
								</ul></li>
						</ul></li>
					<li><a href="">ABOUT</a></li>
				</ul>
			</nav>
			<!-- //Gnb -->
			<!-- 페이지시작 -->
			<div class="container-fluid detail-content">
				<div class="detail-info">
					<div class="swiper-container detail-swiper">
						<ul class="swiper-wrapper">
							<li class="swiper-slide" th:each="image : ${product.images}">
								<img th:src="@{${image.imageUrl}}" alt="">
							</li>
						</ul>
						<div class="swiper-pagination"></div>
						<div class="swiper-button-prev swiper-button-white"></div>
						<div class="swiper-button-next swiper-button-white"></div>
					</div>
					<div class="item-meta-info">
						<div class="bx">
<!-- 							<small class="visible-xs style-num">스타일 번호 923096-101</small> -->
							<h2 class="t2 font-mont title" th:text="${product.name}"></h2>
							<div class="dsc-meta">
								<dl class="dl-inline">
									<dt class="hidden-xs">발매일</dt>
									<dd th:text="${product.releaseDate}"></dd>
								</dl>
								<dl class="dl-inline">
									<dt class="hidden-xs">발매가</dt>
									<dd th:inline="text">[[${#numbers.formatInteger(product.retailPrice,3,'COMMA')}]] 원</dd>
								</dl>
								<dl class="dl-inline">
									<dt class="hidden-xs">스타일</dt>
									<dd th:text="${product.styleCode}"></dd>
								</dl>
							</div>
							<div class="size-filter">
								<div class="text-left hidden-xs hidden-sm">
									<h3 class="t3 font-mont">검색 조건</h3>
									<small>선택한 기간과 사이즈의 시세를 볼 수 있습니다.</small>
								</div>
								<button type="button"
									class="btn btn-primary btn-block visible-xs visible-sm js-btn-size">조건 선택</button>
								<div class="size-filter-wrp">
									<button type="button"
										class="js-btn-size text-hide visible-xs visible-sm">조건 선택 닫기</button>
									<div class="size-filter-cont">
										<p class="visible-xs visible-sm">
											선택한 조건 <a href="" class="text-hide">사이즈 선택</a>
										</p>
										<ul id="term-buttons" class="size-filter-buttons row">
											<li><a href="javascript:void(0)" data-value="all" th:class="${term} == 'all' ? selected">전체</a></li>
											<li><a href="javascript:void(0)" data-value="7d" th:class="${term} == '7d' ? selected">7일간</a></li>
											<li><a href="javascript:void(0)" data-value="15d" th:class="${term} == '15d' ? selected">15일간</a></li>
											<li><a href="javascript:void(0)" data-value="1m" th:class="${term} == '1m' ? selected">1개월간</a></li>
											<li><a href="javascript:void(0)" data-value="3m" th:class="${term} == '3m' ? selected">3개월간</a></li>
											<li><a href="javascript:void(0)" data-value="6m" th:class="${term} == '6m' ? selected">6개월간</a></li>
										</ul>
										<ul id="size-buttons" class="size-filter-buttons row">
											<li><a href="javascript:void(0)" data-value="all" th:class="${size} == 'all' ? selected">전체</a></li>
											<li><a href="javascript:void(0)" data-value="230" th:class="${existSize.get(230)} == true ? (${size} == '230' ? selected) : disabled">230</a></li>
											<li><a href="javascript:void(0)" data-value="235" th:class="${existSize.get(235)} == true ? (${size} == '235' ? selected) : disabled">235</a></li>
											<li><a href="javascript:void(0)" data-value="240" th:class="${existSize.get(240)} == true ? (${size} == '240' ? selected) : disabled">240</a></li>
											<li><a href="javascript:void(0)" data-value="245" th:class="${existSize.get(245)} == true ? (${size} == '245' ? selected) : disabled">245</a></li>
											<li><a href="javascript:void(0)" data-value="250" th:class="${existSize.get(250)} == true ? (${size} == '250' ? selected) : disabled">250</a></li>
											<li><a href="javascript:void(0)" data-value="255" th:class="${existSize.get(255)} == true ? (${size} == '255' ? selected) : disabled">255</a></li>
											<li><a href="javascript:void(0)" data-value="260" th:class="${existSize.get(260)} == true ? (${size} == '260' ? selected) : disabled">260</a></li>
											<li><a href="javascript:void(0)" data-value="265" th:class="${existSize.get(265)} == true ? (${size} == '265' ? selected) : disabled">265</a></li>
											<li><a href="javascript:void(0)" data-value="270" th:class="${existSize.get(270)} == true ? (${size} == '270' ? selected) : disabled">270</a></li>
											<li><a href="javascript:void(0)" data-value="275" th:class="${existSize.get(275)} == true ? (${size} == '275' ? selected) : disabled">275</a></li>
											<li><a href="javascript:void(0)" data-value="280" th:class="${existSize.get(280)} == true ? (${size} == '280' ? selected) : disabled">280</a></li>
											<li><a href="javascript:void(0)" data-value="285" th:class="${existSize.get(285)} == true ? (${size} == '285' ? selected) : disabled">285</a></li>
											<li><a href="javascript:void(0)" data-value="290" th:class="${existSize.get(290)} == true ? (${size} == '290' ? selected) : disabled">290</a></li>
											<li><a href="javascript:void(0)" data-value="295" th:class="${existSize.get(295)} == true ? (${size} == '295' ? selected) : disabled">295</a></li>
											<li><a href="javascript:void(0)" data-value="300" th:class="${existSize.get(300)} == true ? (${size} == '300' ? selected) : disabled">300</a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="detail-data">
					<div class="bx bx-graph">
						<div class="bx-graph-title clearfix">
							<strong class="font-mont pull-left">Market trend</strong>
							<span class="date pull-right" th:inline="text">최근 업데이트 [[${product.lastUpdateDate}]]</span>
						</div>
						<!-- 그래프 영역 -->
						<div id="graph">
							<div class="chart-container">
								<canvas id="canvas" width="1000" height="230"></canvas>
							</div>
						</div>
						<!--// graph -->
					</div>
					<div id="trend-info-table">
						<script th:inline="javascript">
							var chartDate = new Array();
							var chartMaxPrice = new Array(); 
							var chartMinPrice = new Array();
							var chartAvgPrice =  new Array();
							/*<![CDATA[*/
								/*[# th:each="data : ${chartData}"]*/
									chartDate.push(/*[[${data.MARKET_DATE}]]*/);
									chartMaxPrice.push(/*[[${data.MAX_PRICE}]]*/);
									chartMinPrice.push(/*[[${data.MIN_PRICE}]]*/);
									chartAvgPrice.push(/*[[${data.AVG_PRICE}]]*/);
								/*[/]*/
							/*]]>*/
						</script>
						<script src="/js/trend.chart.js"></script>
						<div class="bx bx-summary">
							<table class="tb">
								<colgroup>
									<col span="1" style="width: 25%">
								</colgroup>
								<thead>
									<tr>
										<th scope="col">Summary</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td class="summary-title" th:inline="text">매물 개수</td>
									</tr>
									<tr>
										<td class="summary-val total-count" th:inline="text">[[${product.askStockCount}]]</td>
									</tr>
									<tr>
										<td class="summary-title" th:inline="text">평균 가격</td>
									</tr>
									<tr>
										<td class="summary-val" th:inline="text">[[${#numbers.formatInteger(product.avgPrice,3,'COMMA')}]]원</td>
									</tr>
									<tr>
										<td class="summary-title up" th:inline="text">최고 가격</td>
									</tr>
									<tr>
										<td class="summary-val" th:inline="text"><span class="price-up">[[${#numbers.formatInteger(product.maxPrice,3,'COMMA')}]]원</span></td>
									</tr>
									<tr>
										<td class="summary-title down" th:inline="text">최저 가격</td>
									</tr>
									<tr>
										<td class="summary-val bottom" th:inline="text"><span class="price-down">[[${#numbers.formatInteger(product.minPrice,3,'COMMA')}]]원</span></td>
									</tr>
								</tbody>
							</table>
						</div>
						<div class="bx bx-data">
							<div class="tb-scroll-wrp">
								<div class="tb-scroll">
									<table class="tb">
										<colgroup>
											<col span="4" style="width: 25%">
										</colgroup>
										<thead>
											<tr>
												<th scope="col">사이즈</th>
												<th scope="col">수량</th>
												<th scope="col">최저가</th>
												<th scope="col">최고가</th>
											</tr>
										</thead>
										<tbody>
											<tr th:each="data : ${tableData}">
												<td th:text="${data.SIZE}"></td>
												<td th:text="${data.COUNT}"></td>
												<td th:inline="text">[[${#numbers.formatInteger(data.MIN_PRICE,3,'COMMA')}]] 원</td>
												<td th:inline="text">[[${#numbers.formatInteger(data.MAX_PRICE,3,'COMMA')}]] 원</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- //페이지끝 -->
		</div>
		<!-- //Container -->

		<!-- Footer -->
		<footer id="ft" class="font-mont">
			<p>&copy; 2018 NODOT. All Right Reserved.</p>
		</footer>
		<!-- //Footer -->

	</div>
	<!-- //Wrap -->

	<!-- js -->
	<script src="/js/swiper.jquery.min.js"></script>
	<script src="/js/common.js"></script>
	<script>
	
function tableResize(){
	var w = $(window);
	function tb(){
		var t = $('.tb-scroll-wrp'),
			o = t.find('table'),
			gap = t.width()-o.width(),
			th = t.find('th:last-child').width();
		if (w.width()<1025) {
			return false;
		}
		o.find('tr:first-child>*').each(function(){
			$(this).width($(this).width());
		});
		if ($('.tb-clone').length) {
			t.find('.tb-clone').find('th:last-child').width(th+gap);
		}else {
			t.prepend(o.clone().addClass('tb-clone'));
			t.find('.tb-clone').find('tbody').remove().end().find('th:last-child').width(th+gap);
			o.find('thead').remove();
		}
	}
	w.resize(tb).trigger('resize');
}
	
$(function  () {
	
	var w = $(window);
	function tb(){
		var t = $('.tb-scroll-wrp'),
			o = t.find('table'),
			gap = t.width()-o.width(),
			th = t.find('th:last-child').width();
		if (w.width()<1025) {
			return false;
		}
		o.find('tr:first-child>*').each(function(){
			$(this).width($(this).width());
		});
		if ($('.tb-clone').length) {
			t.find('.tb-clone').find('th:last-child').width(th+gap);
		}else {
			t.prepend(o.clone().addClass('tb-clone'));
			t.find('.tb-clone').find('tbody').remove().end().find('th:last-child').width(th+gap);
			o.find('thead').remove();
		}
	}
	w.resize(tb).trigger('resize');

	var swiper = new Swiper($('.swiper-container'), {
		loop : false,
		autoplay: {
			delay: 3000,
			stopOnLastSlide: true,
		},
		navigation: {
			nextEl: '.swiper-button-next',
			prevEl: '.swiper-button-prev',
		},
		pagination: {
			el: '.swiper-pagination',
			clickable: true,
		}
	});


	$(document).on('click','.js-btn-size',function  () {
		var $t = $(this),
			$body = $('body'),
			$wrap = $('#wrap'),
			a = -$(window).scrollTop();

		if ($t.hasClass('btn-primary')) {
			$wrap.css('top',a).attr('data-top',a);
			$t.parents('.item-meta-info').addClass('open');
			$body.addClass('nav-open size-choice-open');
			$wrap.prepend('<button type="button" class="js-btn-size text-hide dim">사이즈 선택 닫기</button>');
		}else {
			var originScroll = -parseInt($wrap.attr('data-top'));
			$body.removeClass('nav-open size-choice-open').find('.js-btn-size.dim').remove();
			$('.item-meta-info.open').removeClass('open');
			$(window).scrollTop(originScroll);
			$wrap.removeAttr('style data-top');
		}
	});
	
	$(document).ready(function(){
		$('#size-buttons li').click(function() {
			
			if($(this).children('a').hasClass("disabled"))
				return;
			
			size = $(this).children('a').data('value');
			getTrendByOptions();
			$(this).children('a').addClass("selected");
			$(this).siblings().children('a').removeClass("selected");
			tb();
		})
	});
	
	$(document).ready(function(){
		$('#term-buttons li').click(function() {
			
			if($(this).children('a').hasClass("disabled"))
				return;
			
			term = $(this).children('a').data('value');
			getTrendByOptions();
			$(this).children('a').addClass("selected");
			$(this).siblings().children('a').removeClass("selected");
			tb();
		})
	});
});
</script>
</body>
</html>